*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(image2.jpeg);
    background-size: cover;
    align-items: left;
}
.contact .content{
    max-width: 800px;
    text-align: center;
    margin-top: 2px;
}
.contact .content h2{
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 10px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    margin-right: 20px;
}
.container .contactInfo .box {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactForm{
    width: 40%;
    padding: 20px;
    background: #fff;
    margin-left: 40px;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    background: 500;

}
.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactForm .inputbox input,
.contactForm .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;

}
.contactForm .inputbox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
}




