
        #errorWrap {
    padding: 10px;
    margin: 0 0 20px 0;
    background: #fff;
    
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	position:relative;
	left:300px;
	right="200px";
}
#succWrap{
    padding: 10px;
    margin:20px;
    background: #fff;
    border-left: 4px solid #5cb85c;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
        